.content img{
    width: 700px;

}

.content {
    grid-area: c;
    background: aqua;
}


.item{
    color: green;
}

.posts{
    font-style: italic;
}

.ava{
    color: purple;}

.ava textarea{
    width: 695px;
}
