.button {

    --slider-height-percentage: 76%;
    --slider-transition-duration: 506ms;
    --organic-arrow-thickness: 6px;
    --organic-arrow-border-radius: 8px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #d6b18f;
    --control-button-width: 5%;
    --control-button-height: 35%;
    --control-button-background: transparent;
    --control-bullet-color: #fcd0a8;
    --control-bullet-active-color: #d6b18f;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
}